.paginator { 
    margin: 20px 10px 20px 0px;
}
.pageNumber {
    background-color: #131a1f;
    padding: 5px 10px;
    margin: 0 1px;
    color: white;
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
}
.pageNumber:hover {
    background-color: #192025;
    padding: 10px 15px;
}
.selectedPage {
    font-weight: bold;
    background-color: #ffffff;
    color: black; 
    padding: 9px 14px;
}
.prevNextButtons {
    border-radius: 10%;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    margin: 0 5px 0;
    background-color: #192025;
    cursor: pointer;
}
.prevNextButtons:hover {
    background-color: #ffffff;
    color: black;
}